  <!--<video id="video1" data-able-player data-fallback="false" width="853" height="480" data-translation-path="/assets/js/ableplayer/" data-debug="true" preload="metadata" poster="https://static.media.ccc.de/media/conferences/camp2015/7041-hd_preview.jpg">
    <source type="video/webm" src="https://cdn.media.ccc.de/events/camp2015/webm-sd/cccamp15-7041-en-Refugees_Emancipation_webm-sd.webm"/>
    <source type="video/mp4" src="https://cdn.media.ccc.de/events/camp2015/h264-hd/cccamp15-7041-en-Refugees_Emancipation_hd.mp4"/>
  </video>-->

  <audio id="audio1" preload="auto" data-able-player>
    <source type="audio/ogg" src="https://cdn.media.ccc.de/events/camp2015/opus/cccamp15-7041-en-Refugees_Emancipation_opus.opus"/>
    <source type="audio/mpeg" src="https://cdn.media.ccc.de/events/camp2015/mp3/cccamp15-7041-en-Refugees_Emancipation_mp3.mp3"/>
  </audio>
</body>
</html>
