<!DOCTYPE html>
<html class="no-js" lang="{{ page.language }}"
			xmlns="http://www.w3.org/1999/xhtml"
			xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta charset="utf-8" />
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/modernizr.custom.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.cookie.js"></script>
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ableplayer.css" type="text/css"/>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/ableplayer.js"></script>
</head>
<body>
  <video id="video2" data-able-player data-fallback="false" width="853" height="480" data-translation-path="/assets/js/ableplayer/" data-debug="true" preload="metadata" poster="https://static.media.ccc.de/media/conferences/camp2015/7041-hd_preview.jpg" data-youtube-id="8mEMwHGFrBI"> </video>

  <!--<video id="video1" data-able-player data-fallback="false" width="853" height="480" data-translation-path="/assets/js/ableplayer/" data-debug="true" preload="metadata" poster="https://static.media.ccc.de/media/conferences/camp2015/7041-hd_preview.jpg">
    <source type="video/webm" src="https://cdn.media.ccc.de/events/camp2015/webm-sd/cccamp15-7041-en-Refugees_Emancipation_webm-sd.webm"/>
    <source type="video/mp4" src="https://cdn.media.ccc.de/events/camp2015/h264-hd/cccamp15-7041-en-Refugees_Emancipation_hd.mp4"/>
  </video>-->

  <audio id="audio1" preload="auto" data-able-player>
    <source type="audio/ogg" src="https://cdn.media.ccc.de/events/camp2015/opus/cccamp15-7041-en-Refugees_Emancipation_opus.opus"/>
    <source type="audio/mpeg" src="https://cdn.media.ccc.de/events/camp2015/mp3/cccamp15-7041-en-Refugees_Emancipation_mp3.mp3"/>
  </audio>
</body>
</html>
